@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,700&family=Poppins:ital,wght@0,300;0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend+Peta:wght@200;300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------HEADER--------*/

header nav ul li {
    margin: 15px;
}

nav div a img {
    height: 125px;
    width: 125px;
}

header nav div a {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: semi-condensed;

}

/*-------MAIN----------*/

body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    background-image: url(../img/barberia1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

.hero h2 {
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100px;
    margin-top: 145px;
    padding: 25px;
    color: aliceblue;
    width: auto;
    text-align: center;
    border: 1px solid white;
}

.hero p {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 50px;
    padding-top: 100px;
    text-align: center;

}

.section2-h2 {
    text-align: center;
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    border: 1px solid black;
}

.nuestrabarberia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nuestrabarberia img {
    border: 2px solid grey;
}

.nuestrabarberia div {
    height: auto;
    width: fit-content;
}

.fotosbarberia {
    text-align: center;
}

.fotosbarberia h2 {
    font-family: 'Roboto Mono', monospace;
    font-style: inherit;
}

.fotosbarberia h3 {
    margin-top: 25px;
    margin-left: 115px;
    font-size: 30px;
    font-style: italic;
}

/* LISTA DE PRECIOS*/

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 840px;
}

.section2-h2 {
    text-align: center;
    margin: 30px;
    padding: 15px;
    text-align: center;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100px;
}

.seccion2-izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 840px;
}

.grid-precios {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    height: 820px;
}

.grid-precios :hover {
    border: 3px solid goldenrod;
    transition: ease-in 1s;

}

.grid-precios div {
    color: #fbb034;
}

.grid-precios div h2 {
    color: rgb(15, 15, 16);
}

.grid-precios div {
    background-color: rgb(71, 71, 65);
    padding: 1em;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    margin-left: 15px;
    box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    -webkit-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    -moz-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);

}

.seccion2-derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 840px;
}

.seccion2-derecha img {
    width: 80%;
    height: 810px;
    box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    -webkit-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    -moz-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    border-radius: 10px;
}


/*--SERVICIOS--*/

.margenes-servicios {
    margin: 35px;
}

.servicios p {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.servicios {
    text-align: center;
    margin: 10px;
}

.t1 {
    background-color: rgb(132, 137, 225);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.t1 img {
    width: 250px;
    height: 250px;
}

.t1 div {
    width: 500px;
    text-align: center;
}

.t2 {
    background-color: rgb(246, 154, 121);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.t2 img {
    width: 250px;
    height: 250px;
}

.t2 div {
    width: 500px;
    text-align: center;
}

.t3 {
    background-color: rgb(213, 171, 254);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.t3 img {
    width: 250px;
    height: 250px;
}

.t3 div {
    width: 500px;
    text-align: center;
}

.t4 {
    background-color: rgb(246, 188, 79);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.t4 img {
    width: 250px;
    height: 250px;
}

.t4 div {
    width: 500px;
    text-align: center;
}

.t5 {
    background-color: rgb(228, 166, 176);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.t5 img {
    width: 250px;
    height: 250px;
}

.t5 div {
    width: 500px;
    text-align: center;
}

/*--GALERIA--*/

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 10px;

}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    -webkit-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    -moz-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);

}

.galeria h1 {
    text-align: center;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100px;
}

.img1 {
    grid-row: span 2;
}

.img10 {
    grid-column: span 2;
}

.img9 {
    grid-row: span 2;
}

/*--QUIENES SOMOS--*/

.flex-container-quienessomos .grid-quienessomos {
    border: 5px solid goldenrod;

}

.grid-quienessomos {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.grid-quienessomos :hover {
    background-color: blanchedalmond;

}

.grid-quienessomos .grid-item {
    height: 615px;
    width: 99%;
    border: 2px solid goldenrod;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

}

.grid-item video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: calc(30) 18px;
    background-size: cover;
    overflow: hidden;
    z-index: -100;

}

.grid-item h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 200px;
    font-family: 'Poppins', sans-serif;
    padding-top: 45px;
    display: flex;
    justify-content: center;
    text-decoration: underline;

}

.grid-item p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 400px;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*--CONTACTO--*/

.contactanos {
    text-align: center;
    text-decoration: underline;
    margin-top: 45px;
}

.container-contacto {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 35%;
    height: 320px;
    margin-right: 10px;
}

.formulario form div label {
    font-size: large;
}

.formulario form div input {
    width: 500px;
    height: 55px;
    background-color: #f5f5f5;
    margin-bottom: 18px;
    letter-spacing: 0.1ex;
    text-transform: uppercase;
    text-indent: 0.5em;
}

.tumensaje {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 35%;
    height: 320px;
    margin-left: 10px;
}

.tumensaje div textarea {
    background-color: #f5f5f5;
    height: 200px;
    letter-spacing: 0.1ex;
    text-transform: uppercase;
    text-indent: 0.2em;
}

.tumensaje div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 75%;
    height: auto;
}

.tumensaje div input {
    margin-top: 15px;
    width: 150px;
    height: 45px;
    text-align: center;
    background-color: #fbb034;
}

/*------FOOTER---------*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    background-color: rgb(116, 166, 172);
    bottom: 0;
    margin-top: 20px;

}

footer h2 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    padding-top: 10px;
}

footer section p {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes img {
    height: 40px;
    width: 40px;
    margin: 7px;
    padding: 10px;
}

/*--MEDIA QUERY--*/

@media screen and (max-width: 1276px) {
    .nuestrabarberia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section2-h2 {
        text-align: center;
        margin: 20px;
        padding: 10px;
        text-align: center;
        font-size: 35px;
        border: 1px solid black;
    }

    .nuestrabarberia img {
        width: 400px;
        height: 300px;
        margin: 10px;
    }

    .fotosbarberia h3 {
        margin-top: 10px;
        margin-left: 0%;
    }

    .fotosbarberia p {
        margin-bottom: 8px;
    }

    .hero div {
        display: flex;
        flex-direction: column;
    }

    .hero div p {
        font-size: 18px;
        margin: 25px;
    }


}

@media screen and (max-width:1126px) {
    .hero {
        height: 90%;
    }

    .section2-h2 {
        text-align: center;
        margin: 20px;
        padding: 10px;
        text-align: center;
        font-size: 30px;
        border: 1px solid black;
    }

    .seccion2-izquierda {
        width: 50%;
        height: 820px;
    }

    .seccion2-derecha img {
        width: 80%;
        height: 810px;
    }

    header nav div a {
        font-size: 25px;
        margin: 2px;
        text-align: center
    }

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 976px) {

    .hero {
        height: 80%;
    }

    .hero h2 {
        font-size: 40px;
    }

    .hero div p {
        font-weight: 600px;
        font-size: 17px;

    }

    .nuestrabarberia img {
        width: 300px;
        height: 200px;
        margin: 10px;
    }

    .grid-precios {
        height: 600px;
    }

    .grid-precios div {
        height: 65px;
    }

    .grid-precios div h3 {
        font-size: 18px;

    }

    .grid-precios div h2 {
        font-size: 18px;

    }

    .section2 {
        height: 610px;
    }

    .seccion2-izquierda {
        height: 600px;
        width: 50%;
    }

    .seccion2-derecha {
        height: 600px;
        width: 50%;
    }

    .seccion2-izquierda div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 67px;
    }

    .section2-h2 {
        text-align: center;
        margin: 20px;
        padding: 10px;
        text-align: center;
        font-size: 25px;
        border: 1px solid black;

    }

    .seccion2-derecha img {
        width: 80%;
        height: 605px;
    }

    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 220px;
    }

    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }

    .img10 {
        grid-column: span 2;
    }

    .img1 {
        grid-row: span 2;
    }

    .img6 {
        grid-row: span 2;
    }

}


@media screen and (max-width: 699px) {
    header nav ul {
        flex-direction: column;
        text-align: center;
    }

    header nav ul li {
        margin: 7px;
    }

    .hero {
        width: 100%;
        height: 70%;
    }

    .hero h2 {
        font-size: 35px;
        font-weight: 90px;
        margin-top: 125px;
        padding: 15px;
    }

    .hero div p {
        font-weight: 600px;
        font-size: 15px;
        margin-bottom: 30px;
        padding-top: 70px;
        text-align: center;

    }

    .fotosbarberia h3 {
        margin-top: 10px;
        margin-left: 0%;
        font-size: 20px;
    }

    .fotosbarberia p {
        font-size: 13px;

    }

    .grid-precios {
        display: grid;
        align-items: center;
        height: 500px;
    }

    .grid-precios div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 55px;
    }

    .grid-precios div h2 {
        font-size: 16px;

    }

    .grid-precios div h3 {
        font-size: 15px;
        padding-top: 8px;

    }

    .section2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 530px;
        width: 100%;
    }

    .seccion2-izquierda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 530px;
    }

    .seccion2-izquierda div {
        width: 250px;
        height: 57px;
    }

    .seccion2-derecha {
        height: 530px;
        width: 50%;
    }

    .seccion2-derecha img {
        width: 80%;
        height: 525px;
    }

}

@media screen and (max-width: 503px) {

    .nuestrabarberia img {
        width: 220px;
        height: 110px;
        margin: 10px;
    }

    .hero h2 {
        font-size: 25px;
        font-weight: 90px;
        margin-top: 85px;
        padding: 10px;
    }

    .hero {
        height: 55%;
    }

    .section2-h2 {
        text-align: center;
        margin: 20px;
        padding: 10px;
        text-align: center;
        font-size: 15px;
        border: 1px solid black;

    }

    .hero div p {
        font-weight: 600px;
        font-size: 13px;
    }
    

    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .seccion2-izquierda {
        width: 50%;
        margin-top: 10px;
    }

    .seccion2-derecha {
        width: 50%;
        border-radius: 0%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .seccion2-derecha img {
        width: 490px;
        height: 100%;
        border-radius: 0%;
    }

}

@media screen and (max-width: 450px) {
    .grid-galeria {
        grid-template-columns: 1fr;
        grid-template-rows: 220px;
    }

    .grid-item {
        grid-column: span 1;
        grid-column: span 1;
    }

    .img1 {
        grid-row: span 1;
    }

    .img6 {
        grid-row: span 1;
    }

}

@media screen and (max-width: 410px) {
    header {
        flex-direction: column;
        text-align: center;
    }

}