/*----MEDIAQUERY----*/

@media screen and (max-width:1571px){

main{
    video{
        position: fixed;
        min-width: 100%;
        top: 50%;
        left: 50%;
        transform: translatex(-50%) translateY(-50%);
        z-index: -1;
    }
}

.fondo-quienessomos{
    &:hover{
        transform: translatex(-60%);
    }
}


.container-quienessomos{
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding-right: 1em;
    width: 100%;
    height: 560px;
    div{
        height: 550px;
        width: 370px;
        margin-right: 1em;
        h2{
            font-size: 20px;
            margin-bottom: 1em;
            margin-top: 0.5em;
        }
        p{
            margin-top: 0.5em;
            font-size: 11px;
        }
    }
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 320px;
    margin-right: 10px;
    background-color: #8e8e98;
    border-radius: 15px;
    box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    -webkit-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    -moz-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 98%;
        div{
            width: 98%;
            label{
                font-size: large;
            }
            input{
            width: 96%;
            height: 55px;
            background-color: #f5f5f5;
            margin-bottom: 18px;
            letter-spacing: 0.1ex;
            text-transform: uppercase;
            text-indent: 0.5em;
            border-radius: 0.5em;
            }
        }
    }
}

.tumensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 320px;
    div{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 98%;
        height: auto;
        textarea{
            height: 200px;
            width: 96%;
            margin-left: 0.5em;
        }
        input{
            margin-top: 15px;
            width: 150px;
            height: 45px;
            margin-left: 0.5em;
        }
    }
}
}

@media screen and (max-width:1491px){

    .container-quienessomos{
        margin-right: 0.7px;
        padding-right: 0.7em;
        width: 95%;
        height: 560px;
        div{
            height: 550px;
            width: 340px;
            margin-right: 0em;
    }
    }
    
    .fondo-quienessomos{
        &:hover{
            transform: translatex(-50%);
        }
    }


.contactanos {
    margin-top: 70px;
    font-size: 27px;
}

.mediaquery-servicios{
    max-width: 1400px;
    margin: 0 auto;
    h1 {
    margin: 20px;
    font-size: 30px;
    text-align: center;
    }
}

}

@media screen and (max-width:1351px) {
    
    .container-quienessomos{
        flex-wrap: wrap;
        div{
            margin-right: 2em;
        }
    }

    main{
        video{
            min-height: 100%;
        }
    }

    .grid-precios {
        width: 85%;
        height: 610px;
        div{
            h2{
                font-size: 20px;
                color: rgb(0, 0, 0); 
            }
            h3{
                font-size: 20px;
            }
        }
    }
    
    .seccion2-derecha {
        width: 50%;
        height: 840px;
        img{
            width: 80%;
            height: 600px;
        }
    }

    .section2 {
        height: 630px;
    }

.nuestrabarberia{
    img{
    width: 210px;
    height: 160px;
    margin: 10px;
    }
}

}

@media screen and (max-width:1126px) {
    header{
        nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div{
                a{
                font-size: 25px;
                margin: 2px;
                text-align: center;
                }
            }
        }
    }



    .hero{
        h1{
            font-size: 40px;
        }
        div{
            p{
                font-size: 17px;
            }
        }
    }
    
    .mediaquery-servicios{
        max-width: 1400px;
        margin: 0 auto;
        h1 {
        margin: 20px;
        font-size: 25px;
        text-align: center;
        }
    }
}

@media screen and (max-width:1049px) {
    .hero{
        h1{
            font-size: 35px;
            }
        div{
            p{
            font-weight: 600px;
            font-size: 17px;
            }
        }
    }

    .nuestrabarberia{
        img{
        width: 160px;
        height: 110px;
        margin: 10px;
        }
    }

    .fotosbarberia{
        p{
            font-size: 13px;
        }
        h3{
            font-size: 22px;
        }
    }
    .section2-h2 {
        height: 50px;
        padding-top: 10px;
        font-size: 20px;
        font-weight: 100px;
    }

    .grid-precios {
        width: 80%;
        height: 500px;
        div{
            height: 52px;
            h2{
                font-size: 15px;
                color: rgb(0, 0, 0); 
            }
            h3{
                font-size: 10px;
            }
        }
    }
    
    .seccion2-derecha {
        width: 50%;
        height: 550px;
        img{
            width: 80%;
            height: 490px;
        }
    }

    .seccion2-izquierda {
        width: 50%;
        height: 550px;
    }

    .section2 {
        height: 550px;
    }

}

@media screen and (max-width: 990px) {

    header{
        nav{
            ul{
                li{
                    a{
                        font-size: 15px;
                        font-family: 'Roboto Mono', monospace;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 976px) {

    .hero{
        h1{
            font-size: 35px;
            }
        div{
            p{
            font-weight: 600px;
            font-size: 17px;
            margin-bottom: 50px;
            }
        }
    }
    

    .grid-precios {
        width: 80%;
        height: 370px;
        div{
            height: 36px;
            h2{
                font-size: 15px;
                color: rgb(0, 0, 0); 
            }
            h3{
                font-size: 10px;
            }
        }
    }
    
    .seccion2-derecha {
        width: 60%;
        height: 370px;
        img{
            width: 80%;
            height: 370px;
        }
    }

    .seccion2-izquierda {
        width: 60%;
        height: 400px;
    }

    .section2 {
        height: 450px;
    }

    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 220px;
    }

    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }

    .img10 {
        grid-column: span 2;
    }

    .img1 {
        grid-row: span 2;
    }

    .img6 {
        grid-row: span 2;
    }

}

@media screen and (max-width: 847px){
    .nuestrabarberia{
        img{
        width: 120px;
        height: 80px;
        margin: 5px;
        }
    }

}

@media screen and (max-width: 783px){


    .mediaquery-servicios{
        max-width: 1400px;
        margin: 0 auto;
        h1 {
        margin: 20px;
        font-size: 19px;
        text-align: center;
        }
    }

    .t1 {
        margin: 12px;
        img {
        width: 150px;
        height: 200px;
        }
        div {
        width: 400px;
        height: 200px;
        padding-top: 9%;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    
    .t2 {
        margin: 12px;
        img {
        width: 150px;
        height: 200px;
        }
        div {
        width: 400px;
        height: 200px;
        padding-top: 7%;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    .t3 {
        margin: 12px;
        img {
        width: 150px;
        height: 200px;
        }
        div {
        width: 400px;
        height: 200px;
        padding-top: 9%;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    .t4 {
        margin: 12px;
        img {
        width: 150px;
        height: 200px;
        }
        div {
        width: 400px;
        height: 200px;
        padding-top: 5%;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    .t5 {
        margin: 12px;
        img {
        width: 150px;
        height: 200px;
        }
        div {
        width: 400px;
        height: 200px;
        padding-top: 7%;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
        }
    }

}

@media screen and (max-width: 705px) {

    header{
        nav{
            ul{
                flex-direction: column;
                text-align: center;
                li{
                margin: 7px;
                }
            }
        }
    }

    
.fondo-quienessomos{
    &:hover{
        transform: translatex(-40%);
    }
}

    .hero{
        h1{
            font-size: 35px;
            font-weight: 90px;
            margin-top: 125px;
            padding: 15px;
            }
        div{
            p{
            font-weight: 600px;
            font-size: 15px;
            margin-bottom: 30px;
            padding-top: 70px;
            text-align: center;
            }
        }
    }

    .fotosbarberia{
        h3{
        margin-top: 10px;
        margin-left: 0%;
        font-size: 17px;
        }
    }

    .fotosbarberia{
        p {
        font-size: 11px;
        }
    }

    .seccion2-izquierda {
        width: 50%;
        height: 20px;

        
    }

    .grid-precios{
        width: 80%;
        height: 430px;
        div{
            height: 33px;
            h2{
            font-size: 12px;
            }
            h3{
                font-size: 9px;
            }
        }
    }

    .section2 {
        height: 450px;
    }

    .seccion2-derecha{
        height: 400px;
        width: 50%;
        img {
        width: 80%;
        height: 350px;
        }
    }

    .container-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;

    }

.contactanos {
    margin: 1em;
    font-size: 25px;
}

.formulario{
    margin-right: 0px;
    margin-bottom: 1em;
    width: 40%;
    height: 230px;
    form{
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.2em;
            height: 60px;
            margin: 0%;
            input{
                width: 220px;
                height: 26px;
                margin: 0%;
                padding: 0%;
                font-size: 10px;
            }
        }
    }
}

.tumensaje{
    margin-left: 0px;
    margin-top: 1em;
    width: 40%;
    height: 230px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        textarea{
            height: 120px;
            width: 215px;
            letter-spacing: 0.1ex;
            text-transform: uppercase;
            text-indent: 0.2em;
            margin-top: 40px;
            font-size: 10px
        }
        input{
            margin-top: 15px;
            width: 55px;
            height: 25px;
            font-size: 10px; 
        }
    }
}

}

@media screen and (max-width: 627px) { 

    .hero{
        h1{
            font-size: 28px;
            font-weight: 90px;
            margin-top: 125px;
            padding: 15px;
            }
        div{
            p{
            font-size: 12px;
            }
        }
    }

    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
    }

    .seccion2-izquierda {
        width: 370px;
        height: 650px;
        text-align: center;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .seccion2-derecha {
        width:370px;
        height: 350px;
        margin: 0%;
        padding: 0%;
    }

    .grid-precios{
        div{
            height: 60px;
            width: 300px;
            h2{
                font-size: 14px;
                }
            h3{
                font-size: 12px;
                }
        }
    }

    .fondo-quienessomos{
        &:hover{
            transform: translatex(-15%);
        }
    }


.nuestrabarberia{
    img{
    width: 100px;
    height: 60px;
    margin: 5px;
    }
}
.formulario{
    form{
        div{
            input{
                width: 180px;
            }
        }
    }
}

.tumensaje{
    div{
        textarea{
            width: 180px;
        }
    }
}


}

@media screen and (max-width: 507px) {

    .hero{
        h1{
        font-size: 25px;
        font-weight: 90px;
        margin-top: 85px;
        padding: 10px;
        }
    }


    .nuestrabarberia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 220px;
            height: 170px;
            margin: 10px;
            }
    }
    


    .margen-section1{
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 60px;
    }

.margenes-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mediaquery-servicios{
    max-width: 1400px;
    margin: 0 auto;
    h1 {
    margin: 20px;
    font-size: 19px;
    }
}

.t1 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-bottom: 0.5em;
    img {
    width: 200px;
    height: 300px;
    }
    div {
    width: 200px;
    height: 300px;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h2{
            font-size: 22px;
            padding-top: 10px;
        }
        p{
            font-size: 8px;
            text-align: center;
        }
    }
}

.t2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-bottom: 0.5em;
    img {
    width: 200px;
    height: 300px;
    }
    div {
    width: 200px;
    height: 300px;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h2{
            font-size: 22px;
            padding-top: 10px;
        }
        p{
            font-size: 8px;
            text-align: center;
        }
    }
}
.t3 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-bottom: 0.5em;
    img {
    width: 200px;
    height: 300px;
    }
    div {
    width: 200px;
    height: 300px;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h2{
            font-size: 22px;
            padding-top: 10px;
        }
        p{
            font-size: 8px;
            text-align: center;
        }
    }
}
.t4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-bottom: 0.5em;
    img {
    width: 200px;
    height: 300px;
    }
    div {
    width: 200px;
    height: 300px;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h2{
            font-size: 22px;
            text-align: center;
            padding-top: 10px;
        }
        p{
            font-size: 8px;
            text-align: center;
        }
    }
}
.t5 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-bottom: 0.5em;
    img {
    width: 200px;
    height: 300px;
    }
    div {
    width: 200px;
    height: 300px;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h2{
            font-size: 22px;
            padding-top: 10px;
        }
        p{
            font-size: 8px;
            text-align: center;
        }
    }
}

.footer{
    width: 350;
}

.footer{
    h2{
    font-size: large;
    }
}

.footer{
    p{
    font-size: medium;
    }
}
}


@media screen and (max-width: 480px){

    .formulario{
        form{
            div{
                input{
                    width: 150px;
                }
            }
        }
    }
    
    .tumensaje{
        div{
            textarea{
                width: 150px;
            }
        }
    }


}

@media screen and (max-width: 450px) {

    .container-quienessomos{
        margin-right: 0.7px;
        padding-right: 0.7em;
        width: 95%;
        height: 560px;
        div{
            height: 550px;
            width: 340px;
            margin-right: 0em;
    }
}

    .fondo-quienessomos{
        &:hover{
            transform: translatex(-5%);
        }
    }

    .grid-galeria {
        grid-template-columns: 1fr;
        grid-template-rows: 220px;
    }

    .grid-item {
        grid-column: span 1;
        grid-column: span 1;
    }

    .img1 {
        grid-row: span 1;
    }

    .img6 {
        grid-row: span 1;
    }

    .formulario{
        form{
            div{
                input{
                    width: 130px;
                }
            }
        }
    }
    
    .tumensaje{
        div{
            textarea{
                width: 130px;
            }
        }
    }

}