/*----MEDIAQUERY----*/

@media screen and (max-width:1571px){

main{
    video{
        position: fixed;
        min-width: 100%;
        top: 50%;
        left: 50%;
        transform: translatex(-50%) translateY(-50%);
        z-index: -1;
    }
}

.fondo-quienessomos{
    &:hover{
        transform: translatex(-60%);
    }
}


.container-quienessomos{
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding-right: 1em;
    width: 100%;
    height: 560px;
    div{
        height: 550px;
        width: 370px;
        margin-right: 1em;
        h2{
            font-size: 20px;
            margin-bottom: 1em;
            margin-top: 0.5em;
        }
        p{
            margin-top: 0.5em;
            font-size: 11px;
        }
    }
}
}

@media screen and (max-width:1491px){

    .container-quienessomos{
        margin-right: 0.7px;
        padding-right: 0.7em;
        width: 95%;
        height: 560px;
        div{
            height: 550px;
            width: 340px;
            margin-right: 0em;
    }
    }
    
    .fondo-quienessomos{
        &:hover{
            transform: translatex(-50%);
        }
    }


.contactanos {
    margin-top: 70px;
    font-size: 27px;
}

.formulario {
    width: 25%;
    height: 290px;
    margin-right: 10px;
    form{
        div{
            input{
                width: 270px;
                height: 34px;
                margin-bottom: 14px;
                letter-spacing: 0.1ex;
                text-indent: 0.3em;  
            }
        }
    }
}
    
.tumensaje {
    width: 25%;
    height: 290px;
    margin-left: 10px;
    div{
        width: 75%;
        input{
            margin-top: 15px;
            width: 75px;
            height: 30px;
        }
    }
}

.mediaquery-servicios{
    max-width: 1400px;
    margin: 0 auto;
    h1 {
    margin: 20px;
    font-size: 30px;
    text-align: center;
    }
}

}

@media screen and (max-width:1351px) {
    
    .container-quienessomos{
        flex-wrap: wrap;
        div{
            margin-right: 2em;
        }
    }

    main{
        video{
            min-height: 100%;
        }
    }

    .grid-precios {
        width: 85%;
        height: 610px;
        div{
            h2{
                font-size: 20px;
                color: rgb(0, 0, 0); 
            }
            h3{
                font-size: 20px;
            }
        }
    }
    
    .seccion2-derecha {
        width: 50%;
        height: 840px;
        img{
            width: 80%;
            height: 600px;
        }
    }

    .section2 {
        height: 630px;
    }

.nuestrabarberia{
    img{
    width: 210px;
    height: 160px;
    margin: 10px;
    }
}

}

@media screen and (max-width:1191px) {
    .formulario {
        form{
            div{
                input{
                    width: 235px;
                }
            }
        }
    }
}


@media screen and (max-width:1126px) {
    header{
        nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div{
                a{
                font-size: 25px;
                margin: 2px;
                text-align: center;
                }
            }
        }
    }



    .hero{
        h1{
            font-size: 40px;
        }
        div{
            p{
                font-size: 17px;
            }
        }
    }

    .mediaquery-servicios{
        max-width: 1400px;
        margin: 0 auto;
        h1 {
        margin: 20px;
        font-size: 25px;
        text-align: center;
        }
    }
}

@media screen and (max-width:1049px) {
    .hero{
        h1{
            font-size: 35px;
            }
        div{
            p{
            font-weight: 600px;
            font-size: 17px;
            }
        }
    }

    .nuestrabarberia{
        img{
        width: 160px;
        height: 110px;
        margin: 10px;
        }
    }

    .fotosbarberia{
        p{
            font-size: 13px;
        }
        h3{
            font-size: 22px;
        }
    }
    .section2-h2 {
        height: 50px;
        padding-top: 10px;
        font-size: 20px;
        font-weight: 100px;
    }

    .grid-precios {
        width: 80%;
        height: 500px;
        div{
            height: 52px;
            h2{
                font-size: 15px;
                color: rgb(0, 0, 0); 
            }
            h3{
                font-size: 10px;
            }
        }
    }
    
    .seccion2-derecha {
        width: 50%;
        height: 550px;
        img{
            width: 80%;
            height: 490px;
        }
    }

    .seccion2-izquierda {
        width: 50%;
        height: 550px;
    }

    .section2 {
        height: 550px;
    }

}

@media screen and (max-width: 976px) {

    .hero{
        h1{
            font-size: 35px;
            }
        div{
            p{
            font-weight: 600px;
            font-size: 17px;
            margin-bottom: 50px;
            }
        }
    }
    

    .grid-precios {
        width: 80%;
        height: 370px;
        div{
            height: 36px;
            h2{
                font-size: 15px;
                color: rgb(0, 0, 0); 
            }
            h3{
                font-size: 10px;
            }
        }
    }
    
    .seccion2-derecha {
        width: 60%;
        height: 370px;
        img{
            width: 80%;
            height: 370px;
        }
    }

    .seccion2-izquierda {
        width: 60%;
        height: 400px;
    }

    .section2 {
        height: 450px;
    }

    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 220px;
    }

    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }

    .img10 {
        grid-column: span 2;
    }

    .img1 {
        grid-row: span 2;
    }

    .img6 {
        grid-row: span 2;
    }

.formulario{
    width: 25%;
    height: 240px;
    margin-right: 10px;
    form{
        div{
            input{
                width: 180px;
                height: 22px;
                margin-bottom: 10px;
                letter-spacing: 0.05ex;
                text-indent: 0.2em;
                font-size: 10px   
            }
        }
    }
}

.tumensaje{
    width: 25%;
    height: 240px;
    margin-left: 10px;
    div{
        textarea{
            height: 100px;
            letter-spacing: 0.1ex;
            text-transform: uppercase;
            text-indent: 0.2em;
            margin-top: 40px;
            font-size: 10px
        }
        input{
            margin-top: 15px;
            width: 55px;
            height: 25px;
            font-size: 10px; 
        }
    }
}

}

@media screen and (max-width: 847px){
    .nuestrabarberia{
        img{
        width: 120px;
        height: 80px;
        margin: 5px;
        }
    }

}

@media screen and (max-width: 783px){


    .mediaquery-servicios{
        max-width: 1400px;
        margin: 0 auto;
        h1 {
        margin: 20px;
        font-size: 19px;
        text-align: center;
        }
    }

    .t1 {
        margin: 12px;
        img {
        width: 150px;
        height: 200px;
        }
        div {
        width: 400px;
        height: 200px;
        padding-top: 9%;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    
    .t2 {
        margin: 12px;
        img {
        width: 150px;
        height: 200px;
        }
        div {
        width: 400px;
        height: 200px;
        padding-top: 7%;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    .t3 {
        margin: 12px;
        img {
        width: 150px;
        height: 200px;
        }
        div {
        width: 400px;
        height: 200px;
        padding-top: 9%;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    .t4 {
        margin: 12px;
        img {
        width: 150px;
        height: 200px;
        }
        div {
        width: 400px;
        height: 200px;
        padding-top: 5%;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    .t5 {
        margin: 12px;
        img {
        width: 150px;
        height: 200px;
        }
        div {
        width: 400px;
        height: 200px;
        padding-top: 7%;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    .formulario{
        form{
            div{
                input{
                    width: 140px;
                }
            }
        }
    }

}

@media screen and (max-width: 705px) {

    header{
        nav{
            ul{
                flex-direction: column;
                text-align: center;
                li{
                margin: 7px;
                }
            }
        }
    }

    
.fondo-quienessomos{
    &:hover{
        transform: translatex(-40%);
    }
}

    .hero{
        h1{
            font-size: 35px;
            font-weight: 90px;
            margin-top: 125px;
            padding: 15px;
            }
        div{
            p{
            font-weight: 600px;
            font-size: 15px;
            margin-bottom: 30px;
            padding-top: 70px;
            text-align: center;
            }
        }
    }

    .fotosbarberia{
        h3{
        margin-top: 10px;
        margin-left: 0%;
        font-size: 17px;
        }
    }

    .fotosbarberia{
        p {
        font-size: 11px;
        }
    }

    .seccion2-izquierda {
        width: 50%;
        height: 20px;

        
    }

    .grid-precios{
        width: 80%;
        height: 430px;
        div{
            height: 33px;
            h2{
            font-size: 12px;
            }
            h3{
                font-size: 9px;
            }
        }
    }

    .section2 {
        height: 450px;
    }

    .seccion2-derecha{
        height: 400px;
        width: 50%;
        img {
        width: 80%;
        height: 350px;
        }
    }

    .container-contacto {
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }

    .formulario {
        margin-right: 0px;
        margin-bottom: 1em;
}

    .tumensaje {
        margin-left: 0px;
        margin-top: 1em;
}

.contactanos {
    margin: 1em;
    font-size: 25px;
}
}

@media screen and (max-width: 627px) { 

    .hero{
        h1{
            font-size: 28px;
            font-weight: 90px;
            margin-top: 125px;
            padding: 15px;
            }
        div{
            p{
            font-size: 12px;
            }
        }
    }

    .fondo-quienessomos{
        &:hover{
            transform: translatex(-15%);
        }
    }

    .grid-precios{
        width: 80%;
        height: 600px;
        div{
            height: 25px;
            h2{
            font-size: 10px;
            }
            h3{
                font-size: 8px;
            }
        }
    }

    .section2 {
        height: 400px;
    }

    .seccion2-derecha{
        height: 400px;
        width: 50%;
        img {
        width: 80%;
        height: 300px;
        }
    }


.nuestrabarberia{
    img{
    width: 100px;
    height: 60px;
    margin: 5px;
    }
}

.formulario{
    form{
        div{
            input{
                width: 100px;
            }
        }
    }
}

}

@media screen and (max-width: 507px) {

    .hero{
        h1{
        font-size: 25px;
        font-weight: 90px;
        margin-top: 85px;
        padding: 10px;
        }
    }


    .nuestrabarberia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 140px;
            height: 100px;
            margin: 10px;
            }
    }
    

    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .seccion2-izquierda {
        width: 50%;
        height: 600px;
        text-align: center;
        margin: 2px;
        padding: 2px;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .seccion2-derecha {
        width:300px;
        height: 300px;
    }

    .grid-precios{
        div{
            height: 60px;
            width: 300px;
            h2{
                font-size: 14px;
                }
            h3{
                font-size: 12px;
                }
        }
    }

    .margen-section1{
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .container-contacto {
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }

    .formulario {
        margin-right: 0px;
        margin-bottom: 1em;
        width: 25%;
        margin: 20px;
}

    .tumensaje {
        margin-left: 0px;
        margin-top: 1em;
        width: 25%;
        margin: 20px;
        }

    .contactanos {
        margin: 1em;
        font-size: 25px;
}

.margenes-servicios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.mediaquery-servicios{
    max-width: 1400px;
    margin: 0 auto;
    h1 {
    margin: 20px;
    font-size: 19px;
    }
}

.t1 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    img {
    width: 200px;
    height: 300px;
    }
    div {
    width: 200px;
    height: 300px;
    padding-top: 0%;
        h2{
            font-size: 22px;
            padding-top: 15px;
        }
        p{
            font-size: 8px;
        }
    }
}

.t2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    img {
    width: 200px;
    height: 300px;
    }
    div {
    width: 200px;
    height: 300px;
    padding-top: 0%;
        h2{
            font-size: 22px;
        }
        p{
            font-size: 8px;
        }
    }
}
.t3 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    img {
    width: 200px;
    height: 250px;
    }
    div {
    width: 200px;
    height: 300px;
    padding-top: 0%;
        h2{
            font-size: 22px;
        }
        p{
            font-size: 8px;
        }
    }
}
.t4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    img {
    width: 200px;
    height: 300px;
    }
    div {
    width: 200px;
    height: 300px;
    padding-top: 0%;
        h2{
            font-size: 22px;
            text-align: center;
        }
        p{
            font-size: 8px;
        }
    }
}
.t5 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    img {
    width: 200px;
    height: 300px;
    }
    div {
    width: 200px;
    height: 300px;
    padding-top: 0%;
        h2{
            font-size: 22px;
        }
        p{
            font-size: 8px;
        }
    }
}

.footer{
    width: 350;
}

.footer{
    h2{
    font-size: large;
    }
}

.footer{
    p{
    font-size: medium;
    }
}
}

@media screen and (max-width: 450px) {

    .container-quienessomos{
        margin-right: 0.7px;
        padding-right: 0.7em;
        width: 95%;
        height: 560px;
        div{
            height: 550px;
            width: 340px;
            margin-right: 0em;
    }
}

    .fondo-quienessomos{
        &:hover{
            transform: translatex(-5%);
        }
    }

    .grid-galeria {
        grid-template-columns: 1fr;
        grid-template-rows: 220px;
    }

    .grid-item {
        grid-column: span 1;
        grid-column: span 1;
    }

    .img1 {
        grid-row: span 1;
    }

    .img6 {
        grid-row: span 1;
    }

    .formulario{
        form{
            div{
                input{
                    width: 80px;
                }
            }
        }
    }
}

@media screen and (max-width: 410px) {
    header {
        flex-direction: column;
        text-align: center;
    }


}