/*----MEDIAQUERY----*/

@media screen and (max-width:1491px){
.contactanos {
    margin-top: 70px;
    font-size: 27px;
}

.formulario {
    width: 25%;
    height: 290px;
    margin-right: 10px;
    form{
        div{
            input{
                width: 200px;
                height: 34px;
                margin-bottom: 14px;
                letter-spacing: 0.1ex;
                text-indent: 0.3em;  
            }
        }
    }
}
    
.tumensaje {
    width: 25%;
    height: 290px;
    margin-left: 10px;
    div{
        width: 75%;
        input{
            margin-top: 15px;
            width: 75px;
            height: 30px;
        }
    }
}
}

@media screen and (max-width:1126px) {
    header{
        nav{
            div{
                a{
                font-size: 25px;
                margin: 2px;
                text-align: center;
                }
            }
        }
    }

    header{
        nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    }
    
    .hero {
        height: 90%;
    }

    .section2-h2 {
        text-align: center;
        margin: 20px;
        padding: 10px;
        text-align: center;
        font-size: 30px;
        border: 1px solid black;
    }

    .seccion2-izquierda {
        width: 50%;
        height: 820px;
    }

    .seccion2-derecha 
        img {
        width: 80%;
        height: 810px;
        }
    }

@media screen and (max-width: 976px) {

    .hero {
        height: 80%;
    }

    .hero{
        h2{
        font-size: 40px;
        }
    }

    .hero{
        div{
            p{
            font-weight: 600px;
            font-size: 17px;
            }
        }
    }

    .nuestrabarberia{
        img{
        width: 300px;
        height: 200px;
        margin: 10px;
        }
    }

    .grid-precios {
        height: 600px;
    }

    .grid-precios{
        div{
        height: 65px;
        }
    }

    .grid-precios{
        div{
            h3{
            font-size: 18px;
            }
        }
    }

    .grid-precios{
        div{
            h2{
            font-size: 18px;
            }
        }
    }

    .section2 {
        height: 610px;
    }

    .seccion2-izquierda {
        height: 600px;
        width: 50%;
    }

    .seccion2-derecha {
        height: 600px;
        width: 50%;
    }

    .seccion2-izquierda{
        div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 67px;
        }
    }

    .section2-h2 {
        text-align: center;
        margin: 20px;
        padding: 10px;
        text-align: center;
        font-size: 25px;
        border: 1px solid black;
    }

    .seccion2-derecha{
        img{
        width: 80%;
        height: 605px;
        }
    }

    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 220px;
    }

    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }

    .img10 {
        grid-column: span 2;
    }

    .img1 {
        grid-row: span 2;
    }

    .img6 {
        grid-row: span 2;
    }

.formulario{
    width: 25%;
    height: 240px;
    margin-right: 10px;
    form{
        div{
            input{
                width: 140px;
                height: 22px;
                margin-bottom: 10px;
                letter-spacing: 0.05ex;
                text-indent: 0.2em;
                font-size: 10px   
            }
        }
    }
}

.tumensaje{
    width: 25%;
    height: 240px;
    margin-left: 10px;
    div{
        textarea{
            height: 100px;
            letter-spacing: 0.1ex;
            text-transform: uppercase;
            text-indent: 0.2em;
            margin-top: 40px;
            font-size: 10px
        }
        input{
            margin-top: 15px;
            width: 55px;
            height: 25px;
            font-size: 10px; 
        }
    }
}

}


@media screen and (max-width: 699px) {
    
    header{
        nav{
            ul{
            flex-direction: column;
            text-align: center;
            }
        }
    }

    header{

        nav{
            ul{
                li{
                margin: 7px;
                }
            }
        }
    }

    .hero {
        width: 100%;
        height: 70%;
    }

    .hero{
        h2{
        font-size: 35px;
        font-weight: 90px;
        margin-top: 125px;
        padding: 15px;
        }
    }

    .hero{
        div{
            p{
            font-weight: 600px;
            font-size: 15px;
            margin-bottom: 30px;
            padding-top: 70px;
            text-align: center;
            }
        }
    }

    .fotosbarberia{
        h3{
        margin-top: 10px;
        margin-left: 0%;
        font-size: 20px;
        }
    }

    .fotosbarberia{
        p {
        font-size: 13px;
        }
    }

    .grid-precios {
        display: grid;
        align-items: center;
        height: 500px;
    }

    .grid-precios{
        div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 55px;
        }
    }

    .grid-precios{
        div{
            h2{
            font-size: 16px;
            }
        }
    }

    .grid-precios{
        div{
            h3{
            font-size: 15px;
            padding-top: 8px;
            }
        }
    }

    .section2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 530px;
        width: 100%;
    }

    .seccion2-izquierda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 530px;
    }

    .seccion2-izquierda{
        div{
        width: 250px;
        height: 57px;
        }
    }


    .seccion2-derecha {
        height: 530px;
        width: 50%;
    }

    .seccion2-derecha
        img {
        width: 80%;
        height: 525px;
        }
    }

@media screen and (max-width: 627px) {  
.formulario{
    width: 20%;
    height: 160px;
    margin-right: 10px;
    form{
        div{
            input{
                width: 60px;
                height: 15px;
                margin-bottom: 5px;
                letter-spacing: 0.05ex;
                text-indent: 0.2em;
                font-size: 10px 
            }
        }
    }
}

.tumensaje{
    width: 20%;
    height: 160px;
    margin-left: 10px;
    div{
        textarea{
            height: 80px;
            letter-spacing: 0.1ex;
            text-transform: uppercase;
            text-indent: 0.2em;
            margin-top: 40px;
            font-size: 10px
        }
        input{
            margin-top: 10px;
            width: 45px;
            height: 20px;
            font-size: 10px;
            text-align: center;
        }
    }
}

}

@media screen and (max-width: 503px) {

    .nuestrabarberia{
        img{
        width: 220px;
        height: 110px;
        margin: 10px;
        }
    }

    .hero{
        h2{
        font-size: 25px;
        font-weight: 90px;
        margin-top: 85px;
        padding: 10px;
        }
    }

    .hero {
        height: 55%;
    }

    .section2-h2 {
        text-align: center;
        margin: 20px;
        padding: 10px;
        text-align: center;
        font-size: 15px;
        border: 1px solid black;
    }

    .hero{
        div{
            p{
            font-weight: 600px;
            font-size: 13px;
            }
        }
    }
    

    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .seccion2-izquierda {
        width: 50%;
        margin-top: 10px;
    }

    .seccion2-derecha {
        width: 50%;
        border-radius: 0%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .seccion2-derecha{
        img{
        width: 340px;
        height: 100%;
        border-radius: 0%;
        }
    }

    .footer{
        width: 350;
    }

    .footer{
        h2{
        font-size: large;
        }
    }

    .footer{
        p{
        font-size: medium;
        }
    }

.contactanos {
    margin-top: 70px;
    font-size: 22px;
}
    
.formulario{
    width: 25%;
    margin: 20px;
}
    
.tumensaje{
    width: 25%;
    margin: 20px;
}
    
.container-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}

@media screen and (max-width: 450px) {
    .grid-galeria {
        grid-template-columns: 1fr;
        grid-template-rows: 220px;
    }

    .grid-item {
        grid-column: span 1;
        grid-column: span 1;
    }

    .img1 {
        grid-row: span 1;
    }

    .img6 {
        grid-row: span 1;
    }

}

@media screen and (max-width: 410px) {
    header {
        flex-direction: column;
        text-align: center;
    }

}