body {
    font-family: 'Poppins', sans-serif;
}

.btn{
    color: grey;
    background-color: white;
} 

.colorDeFondo {
    background: $color-secundario;
    background-image: linear-gradient(-350deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: lighten;
}

.seccion1 {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    h4 {
        font-size: 25px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px;
        text-align: center;
        text-shadow: 1px 1px 1px #c0c0c0;
    }
}

.seccion2 {
    max-width: 1450px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero {
    background-image: url(../img/barberia1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

    h1 {
        font-size: 50px;
        font-family: 'Roboto Mono', monospace;
        font-weight: 100px;
        text-shadow: 1px 1px 1px #000000;
        margin-top: 145px;
        padding: 25px;
        color: aliceblue;
        width: auto;
        text-align: center;
        border: 2px solid rgb(250, 164, 88);
        background-color: rgba(0, 0, 0, 0.2);
    }

    div {
        p {
            color: rgb(255, 255, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 800px;
            font-size: 22px;
            text-shadow: 1px 1px 2px #000000;
            margin-bottom: 50px;
            padding-top: 100px;
            text-align: center;
            margin-left: 30px;
            margin-right: 30px;
        }
    }
}

.margenSeccion1 {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;

    h2 {
        font-size: 40px;
        text-align: center;
    }
}

.nuestraBarberia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    img {
        width: 380px;
        height: 290px;
        margin: 10px;
        border: 2px solid grey;
        box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
        -webkit-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
        -moz-box-shadow: 13px -2px 22px -6px rgba(78, 86, 128, 0.88);
    }
}

.barberiaTextoeIconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;

    img {
        width: 120px;
        height: 120px;
    }
}

.fotosBarberia {
    text-align: center;

    p {
        font-family: 'Roboto Mono', monospace;
        text-shadow: 1px 1px 1px #ffffff;
    }

    h3 {
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        font-family: 'Merienda', cursive;
        text-shadow: 1px 1px 1px #ffffff;
        padding-top: 10px;
        display: inline-block;
    }

}

/*----LISTA DE PRECIOS----*/

.seccion2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 840px;
}

.seccion1-h2 {
    text-align: center;
    height: 60px;
    padding-top: 7px;
    margin: 18px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 1px #b1b1b1;
    font-weight: 500px;
    background: #D1913C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.seccion2Izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 840px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.gridPrecios {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    height: 820px;

    div {
        color: #fbb034;
        background-color: rgb(71, 71, 65);
        padding: 1em;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 5px;
        margin-left: 15px;
        box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
        -webkit-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
        -moz-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);

        transition-property: color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;

        &:hover {
            color: rgb(25, 27, 28);
            background-color: #f6d365;
            height: 97%;
        }

        h2 {
            font-size: 25px;
            color: rgb(0, 0, 0);
        }

        h3 {
            font-size: 25px;
        }
    }
}

.seccion2Derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 840px;
    margin-top: 60px;
    margin-bottom: 60px;

    img {
        width: 80%;
        height: 810px;
        box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
        -webkit-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
        -moz-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
        border-radius: 10px;
    }
}

/*----SERVICIOS----*/

.margenesServicios {
    max-width: 1400px;
    margin: 0 auto;
}

.servicios {
    text-align: center;
    margin: 10px;

    p {
        text-align: center;
        font-family: 'Roboto Mono', monospace;
    }
}

.mediaqueryServicios {
    max-width: 1400px;
    margin: 0 auto;

    h1 {
        margin: 20px;
        font-size: 35px;
        text-align: center;
        text-shadow: 1px 1px 1px #ffffff;
    }
}

.t1 {
    background-color: rgb(132, 137, 225);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

    img {
        width: 250px;
        height: 250px;
    }

    div {
        width: 500px;
        text-align: center;

        transition: 2s;

        &:hover {
            transform: rotatex(360deg);
        }
    }
}


.t2 {
    background-color: rgb(246, 154, 121);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

    img {
        width: 250px;
        height: 250px;
    }

    div {
        width: 500px;
        text-align: center;

        transition: 2s;

        &:hover {
            transform: rotatex(360deg);
        }
    }
}

.t3 {
    background-color: rgb(213, 171, 254);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

    img {
        width: 250px;
        height: 250px;
    }

    div {
        width: 500px;
        text-align: center;

        transition: 2s;

        &:hover {
            transform: rotatex(360deg);
        }
    }
}

.t4 {
    background-color: rgb(246, 188, 79);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

    img {
        width: 250px;
        height: 250px;
    }

    div {
        width: 500px;
        text-align: center;

        transition: 2s;

        &:hover {
            transform: rotatex(360deg);
        }
    }
}

.t5 {
    background-color: rgb(228, 166, 176);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;

    img {
        width: 250px;
        height: 250px;
    }

    div {
        width: 500px;
        text-align: center;

        transition: 2s;

        &:hover {
            transform: rotatex(360deg);
        }
    }
}

/*----GALERIA----*/

.tamanoGaleria {
    max-width: 1400px;
    margin: 0 auto;
}

.gridGaleria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 10px;

    div {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
            -webkit-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
            -moz-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);

            transition: 1.3s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.galeria {
    h1 {
        text-align: center;
        font-size: 55px;
        font-family: 'Poppins', sans-serif;
        font-weight: 100px;
        text-shadow: 1px 1px 1px #ffffff;
    }
}

.img1 {
    grid-row: span 2;
}

.img10 {
    grid-column: span 2;
}

.img9 {
    grid-row: span 2;
}

/*----QUIENES SOMOS----*/

.fondoQuienessomos {
    transition: 1.7s;

    &:hover {
        transform: translatex(-70%);
        color: #c7e9e3;
        background-color: #dfdede;
        color: #212529;
    }
}

main {
    video {
        position: fixed;
        min-width: 100%;
        top: 50%;
        left: 50%;
        transform: translatex(-50%) translateY(-50%);
        z-index: -1;
    }
}

.containerQuienessomos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px;
    width: 1800px;

    div {
        height: 650px;
        width: 100%;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 25%;
        height: 800px;
        text-align: center;
        color: rgb(195, 195, 195);
        border-radius: 25px;

        h2 {
            text-decoration: underline;
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 18px;
        }

        p {
            font-size: 13;
            text-align: center;
        }
    }
}

/*----CONTACTO----*/

.contactanos {
    text-align: center;
    text-decoration: underline;
    margin-top: 45px;
    color: #212529;
    font-size: 35px;
    text-shadow: 7px 3px 6px rgba(0, 0, 0, 0.44);
    animation-name: contactanos-titulo;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-direction: initial;
    animation-delay: 0.5s;
}

@keyframes contactanosTitulo {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.containerContacto {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 320px;
    margin-right: 10px;
    background-color: #8e8e98;
    border-radius: 15px;
    box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    -webkit-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    -moz-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);

    form {
        width: 500px;

        div {
            label {
                font-size: large;
                position: absolute;
                left: 0;
            }

            input {
                width: 500px;
                height: 55px;
                background-color: #f5f5f5;
                margin-bottom: 18px;
                letter-spacing: 0.1ex;
                text-transform: uppercase;
                text-indent: 0.5em;
                border-radius: 0.5em;
            }
        }
    }
}


.tuMensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 320px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #8e8e98;
    box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    -webkit-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);
    -moz-box-shadow: 13px -2px 22px -6px rgba(86, 86, 128, 0.88);

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 500px;
        height: auto;

        textarea {
            background-color: #f5f5f5;
            height: 200px;
            width: 90%;
            letter-spacing: 0.1ex;
            text-transform: uppercase;
            text-indent: 0.2em;
            margin-top: 40px;
            border-radius: 0.5em;
        }

        input {
            margin-top: 15px;
            width: 150px;
            height: 45px;
            text-align: center;
            background-color: #fbb034;
            border-radius: 0.2em;
        }
    }
}